/* Change the color of links on hover */
.extensions a:hover {
  background-color: ##db0000;
  color: red;
}

/* Add a color to the active/current link */
.extensions a.active {
  background-color: ##fc0303;
  color: red;
}
